th {
    position: relative;
    cursor: pointer;

    padding-right: 1.5rem !important;
}

th:before {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;

    right: 1em;
    content: "\2191";
}

th.asc:before {
    opacity: 1;
}

th:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;

    right: 0.5em;
    content: "\2193";
}

th.desc:after {
    opacity: 1;
}